
.infosrow {
  background-color: #cfd8dc;
   padding: 5px ;
   left: 70px ;
}
.infos{
 color: #000000;
}

.title{
   background-color: transparent;
   margin : 5px ;
   padding: 20px ;
   right: 30px ;
}
.img {

     vertical-align:top;
     top : 12px;
}

.strong_color {
  color: #1565c0
  }
.paragraphe{

  color : #000000;
}
